<form action="/rocks/create" method="POST">
  <select name="player">
    <option value="가위">가위</option>
    <option value="바위">바위</option>
    <option value="보">보</option>
  </select>
    <button type="submit">승부</button>
</form>